/*
	DEFAULT LIVELINK STYLESHEET
	
*/

/* ---------------------------  ALL LIVELINK STYLES  ---------------------------- */


/*
	Defines the style to apply by default to all links.
	
	Use with:
		none, this is applied to the tag
*/
a {
		color:				#05447e;
		font-size:			11px;
}

/*
	Defines the style to apply by default to all links when the cursor hovers over the link.
	
	Use with:
		none, this is applied to the tag
*/
a:hover, a:link, a:visited {
		color:				#05447e;
}

a:hover, a:active {
		font-style: 		normal;
		text-decoration: 	underline;
		 color: 			#981b1e;
}


/*
	The default style that is applied to the <BODY> tag.
	
	Use with:
		none, this is applied to the tag '<BODY>'
*/
body { 
		font-family: 			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 				11px;
		margin:					0px;
		background-color:		#ffffff;
}

TABLE { 
		font-family: 			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 				11px;
}

.header TABLE { 
		font-family: 			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 				11px;
}

h2	{
		font-family: 			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:				12px;
}

.tightTable
{
	border:		0px;
	padding:	0px;
	margin:		0px;
}

/*
 *	Emphasized text.
 *
 *	See use in:
 *		notify/nspecificnode.html
 */
.important {
		font-weight:			bold;
}

/*
 *	Emphasized text, though not as emphasized as the 'important' class.
 *
 */
.stressed {
		font-style:			italic;
}

/*
 *	Makes an hr into a useful section divider.
 *
 *	Explanation:
 *		- border must be none for netscape or else the line has a black border
 *		- background-color controls the colour of the line in Netscape
 * 		- color controls the colour of the line in IE
 *
 *	See search pages.
 */
hr.sectionDivider { 
		border: 			none;
		background-color: 	#999999;
		color: 				#999999;
}




/* *****************  All Livelink Classes ********************** */

.tabForeground {
		background-color:	#ffffff;
}

.tabForegroundHigh {
		background-color:	#ffffff;
		height:				24px;
}

.tblBackground {
		background-color:	#999999;
}

.tblForeground {
		background-color:	#FFFFFF;
}

.labelHorizontalDivider {
		background-color:	#b4b4b4;
}

.valueHorizontalDivider {
		background-color:	#dfdfdf;
}

.pageBody { 
		background-color:	#f5f5f5;
}

TD.labelVerticalDivider {
		border-right: 		1px solid #999999;
}
.tblForeground TD, .tblForeground TH {
		padding:			5px;
}

.listTable TD, TD.listTable {
		padding:			0px;
}

.horizontalCellDivider TD, horizontalCellDivider TH, TD.cellDivider, .cellDivider {
		padding:			0px;
}

TD.browseRowDivider, .browseRowDivider {
		padding:			0px;
}

TD.labelVerticalDivider {
		padding:			0px;
}

TD.labelVerticalDividerRight {
		padding:			0px;
}

TD.valueHorizontalDivider {
		padding:			0px;
}

/*
 * This style is applied to text that is used to describe status
 * values which are "good"
 *
 * Use with:
 * <SPAN> or <TD>
 */
.statusTextGood {
		color: 			#33CC33;
}

/*
 * This style is applied to text that is used to describe status
 * values which are "bad"
 *
 * Use with:
 * <SPAN> or <TD>
 */
.statusTextBad {
		color: 			#FF0000;
}

/*
 * This style is applied to text that is used to describe status
 * values which are neither good nor bad
 *
 * Use with:
 * <SPAN> or <TD>
 */
.statusTextUnknown {
		color: 			#0000FF;
}

/*
 * This class is applied to text that is used to display log contents.
 *
 * Use with:
 * <PRE>
 *
 */
.logText {
}

/**
 * Used to format descriptive text under configuration names.
 *
 * Use with:
 * <SPAN>
 *
 * See:
 * websovmgmt/smconfig.html
 */
.smallDescriptiveText {
		font-family: 	Arial,Helvetica,sans-serif;
		font-size: 		10px;
}

/*
 * A wide bar that has text in it labelling a section of the page.
 *
 * Use with:
 * <TR>
 */
.adminSectionBar {
		background-color:	#999999;
		color: 				white;
		width: 				100%;
		text-align:			center;
}

/*
 * A tall, narrow bar used on the left side of a set of rows to mark
 * them as a section.
 *
 * Use with:
 * <TD>
 */
 .verticalSectionBar {
	 	background-color: 	#999999;
		color: 				white;
		text-align: 		center;
}


/*
 *	This class is applied to text that might come before a series of labels
 * 	explaining their use, etc.
 *	
 *	Use with:
 * 		<SPAN> or <TD>
 */
.explanatoryText {
		font-size:			11px;
		color:				#000000;
}


/*
 *	This class is applied to text that is displayed on the pages that takes time to process
 *
 * Use with:
 * <TD>
 */
.messageWait, {
		font-size:				11px;
		font-weight:			bold;
		text-align:				center;
}

/*
 * 	The right-aligned bar that contains the images and links. Found
 *	in the favorites tabs and in discussions, as well as other places.
 *
 *	Use with:
 *		<TR>
 */
.imageActionBar, .imageActionBar a {
		font-size:			10px;
}

/*
	The style to use for the label part of the label/value pair.
	
	Use with:
		<TD>
*/
.label {
		width:					15%;
		white-space:			nowrap;
		color:					#434343;
		background-color: 		#e2e2e2;
		border-left: 			1px solid #ffffff;
		border-top: 			1px solid #ffffff;
		border-right: 			1px solid #999999;
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:				left;
		font-weight:			bold;
		font-size: 				11px;
}

.logoutLabel TD {
		text-align:				center;
		font-weight:			bold;
		font-size: 				11px;
		padding-top:			20px;
		padding-bottom:			20px;
		padding-right:			8px;
		padding-left:			8px;
		white-space:			nowrap;
}

.darkColumnLabel {
		background-color:		#999999;
		text-align:			center;
		color:				white;
		font-size: 			11px;
}

.columnLabel {
		background-color:		#cccccc;
		text-align:			center;
		color:				black;
		font-size: 			11px;
}

/*
	Changes the style of editable input text

	Use with:
		<INPUT TYPE="TEXT" ... >
		<TEXTAREA ... >
*/
.valueEditable {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:		 		11px; 
		font-weight:	 		normal;
		
}

/*
	Defines the style of static text next to the label. The second part of the label/value pair.
	
	Use with:
		All input types other than "TEXT"
		In some cases it may be used as the class for the enclosing table division (<TD>), this is
		useful when you have multiple elements with static text and a single label, e.g. several radio
		buttons.
*/
.valueStatic {
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:		 		11px; 
		font-weight:	 		normal;
}

/*
 * 	These classes are used to make a thin divider horizontally.
 *
 * Use with:
 *		<TD>
 */
.lightHorizontalDivider {
	background-color:			#cccccc;
}

.horizontalDivider, .heavyHorizontalDivider {
	background-color:			#666666;
}

.boxTitleBar 
{
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight:		bold;
		font-size:			12px;
		color:				#666666;
		background-image:	url( 'fon-table-header-gray.gif' );
		background-repeat:	repeat-x;
		text-align:			left;
		padding:			3px;
		padding-left:		10px;
}

.buttonBar
{
	background-image:	url( 'fon-table-header-gray.gif' );
	background-repeat:	repeat-x;
	height:				18px;
	text-align:			center;
	padding:			5px;
}
		
/*
	This class defines the style to use with general buttons.
	
	Use with:
		<INPUT TYPE="BUTTON">
*/
.button {
		color:				#000000;
		font-size: 			10px;
}

/*
	This class defines the style to use with save and apply buttons.
	
	Use with:
		<INPUT TYPE="BUTTON">
		<INPUT TYPE="SUBMIT">
*/
.saveButton, .applyButton {
		color:				#000000;
		font-size: 			10px;
}

/* This section is defines the style for 
   multi select buttons copy, move, delete ...
*/

.multiButton{
	 font-size:10px;
	 font-family:				tahoma;
	 padding-left: 				21px;
	 border-left:1px solid 		#B7B7B7;
	 border-top:1px solid 		#B7B7B7;
	 border-right:1px solid 	#999999;
	 border-bottom:1px solid 	#999999; 
	 background-color: 			#EFEFEF;
	 height: 					24px;
	 color:						#000000;	
}

/*
	This class defines the style to use with cancel, delete, and reset buttons.
	
	Use with:
		<INPUT TYPE="BUTTON">
		<INPUT TYPE="RESET">
*/
.cancelButton, .resetButton, .deleteButton {
		color:				#000000;
		font-size: 			10px;
}



/* *********************** Search Classes ****************************** */

/*
	Defines the style applied to the search bar.
	
	Use with:
		<TR>
*/
.searchBar {
		color: 					#333333;
		font-family: 			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:	 			11px;
}


.searchBar a {  
	 	font-size: 				10px;
		font-family: 			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		color: 					#05447e;
}

.searchBar a:visited,  {
		 color: 				#05447e;
}

.searchButton {
		WIDTH: 		46px; 
		HEIGHT: 	21px;
		font-size:	10px;
}

/*
 *	Class that was already in the search page.
 */
.searchBut INPUT, SELECT.searchBut  {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-style: 		normal;
		font-size: 			11px;
		color: 				#000000;
}

/*
  * This style is applied to the titles of search option sections
  *
  */
.searchOptionTitle {
		color: 				#000000;
		font-family: 			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight: 			bold;
		font-size: 			11px;
		text-align: 			left;
}
		
		
#searchComponent
{
	background-image: 		url( 'search-header-gray.gif' );
	background-repeat:		repeat-x;
}
/* *********************** HEADER CLASSES ***************************** */

#topComponent
{
	width:		100%;
}

/*
	Defines the style to apply to the first bit of text in the header bar.
	
	Use with:
		<SPAN>
*/
#headerTitle1 {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:		left;
		font-size:		11px;
		color:			#ffffff;
		margin-left:	7px;
}

/*
	Defines the style aplied to the second bit of text in the header bar.
	
	Use with:
		<SPAN>
*/
#headerTitle2 {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:		left;
		font-size:		14px;
		font-weight:		bold;
		color:			#ffffff;
		margin-left:	7px;
}

/*
	Defines the style aplied to the User Name in the header bar.
	
	Use with:
		<SPAN>
*/
#headerUserName {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:		center;
		font-size:		11px;
		font-weight:		bold;
		color:			#ffffff;
		padding-left:	10px;
		padding-right:	10px;
}

.headerCurrentDate {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:			center;
		font-size:			10px;
		color:				#ffffff;
}

.headerUserName {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:		center;
		font-size:		11px;
		font-weight:		bold;
		color:			#ffffff;
		padding-left:	10px;
		padding-right:	10px;
}

.headerCurrentUser {
		font-size:			11px;
		font-weight:		bold;
}

/*
	Defines the style aplied to the Current Date in the header bar.
	
	Use with:
		<SPAN>
*/
#headerCurrentDate{	
		font-family: 	Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		color:			#ffffff;
		font-size:		10px;
		text-align:		center;
		padding-left:	10px;
		padding-right:	10px;
		
}


.headerBar {
}


/*
 *	A wide bar that has text in it labelling a section of the page.
 *	See the Task List browse page for an example.
 *
 *	Use with:
 *		<TR>
 */
.sectionBar {
	text-align:			left;
	background-color:	#aaaaaa;
	color:				#000000;
	width:				100%;
}



/* *********************** FOOTER CLASSES ***************************** */

/*
	Defines the style that is applied to the footer bar.
	
	Use with:
		<TABLE>
*/
.footer {
		color:			#666666;
		white-space:		nowrap;
		width:			100%;
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 		10px; 
}

#footer
{
	vertical-align:		bottom;
}

/*
 *	Defines the style to apply to the Livelink version and copyright section
 *	of the footer.
 *	
 *	Use with:
 *		<TD>
 *	
 */
.livelinkVersionAndCopyright {
		text-align:		left;
}

/*
 *	The class set on the dashboard bar when java is disabled.
 */
.dashboardNoJava {
		font-size:		10px;
}



/* ***********************  BROWSE CLASSES  ****************************** */

.browseMultiSelectColor{
		background-color:	#F8F8F8;
}

.browseRowDivider {
		background-color:	#e0e0e0;
}

.featuredItemBG {
		background-color:	#999999;
}

.featuredItemTitle, .featuredItemTitle TD, .browseBoxHeader TD, .browseBoxHeader {
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight:		bold;
		font-size:			12px;
		color:				#666666;
}

.featuredItems, .featuredItems TD, .featuredItems TR {
		background-color:	white;
}

.browseViewTab {
	background-color:	#D5EAFF;
	width:				1%;
	font-size:			11px;
}

/*
 * The style applied to the bar of buttons shown in the browse view and used for
 * multi-select actions.
 */
.multiButtonBar {
	background-color:		#ffffff;
}

/*
 *	The class that defines the styles for every other row of a browse view, 
 *	beginning with the first. Changes, made to anything other than the background
 *	color, should be reflected in the 'browseRow2' class. This is an odd bit of
 *	ugliness, but it's better than the alternatives.
 *	
 *	Use with:
 *		<TR>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseRow1, .browseRow1 a {
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 			11px; 
		color: 				#333333;
}

/*
 * We don't want to set the background-color on the anchor tags since user overrides don't
 * apply to them.
 */
.browseRow1 {
		background-color: 	#eeeeee;
		height:				24px;
}

/*
 *	The class that defines the styles for every other row of a browse view, 
 *	beginning with the second. Changes, made to anything other than the background
 *	color, should be reflected in the 'browseRow1' class. This is an odd bit of
 *	ugliness, but it's better than the alternatives.
 *	
 *	Use with:
 *		<TR>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseRow2, .browseRow2 a {
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 			11px;
		color: 				#333333;
}

.browseRow2
{
	height:				24px;
}
/*
 *	Use this style when a browse row isn't appropriate, but the browse item styles are. 
 *	
 *	Use with:
 *		<TD>
 *
 *	See:
 *		task/edititems.html ( Task List function menu -> Edit Items )
 *
 */
.itemRow {
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 		11px; 
		font-weight: 		normal;
		color: 			#000000;
}

/* 
	Defines the styles for the table header in the list view of the browse
	and sets the defaults for links that appear in the header.
	
	Use with:
		<TR>
*/
.browseListHeader, .headerRow {
		background-image:	url( 'fon-table-header-blue.gif' );
		background-repeat:	repeat-x;
		font-size: 			11px;
}

.browseListHeader a, .headerRow a {
		font-size: 		11px;
}

.browseListHeader .cellDivider {
		background-image:		url( 'table-header-divider.gif' );
		background-repeat:		no-repeat;
		width:					2px;
		height:					19px;
}

/*
 *	The style to use for the strong background color and light font color.
 *	Please do not add "width: 1%;" to this style
 *	
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/filtering.html
 */
.columnHeaderLabel {
        white-space:        nowrap;
        background-color:   #999999;
        font-family:        Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align: 		left;
		font-size: 			small;
		color: 				#ffffff;
}

/*
 *  Defines the styles to apply to the text in a header row. 
 *
 *  Use with:
 *      <TD>
 *
 *  See:
 *      itemtemplate/namesubstitution.html
 */
.browseListHeaderText {
        text-align:     left;
}

/*
 *	Defines the styles to apply to the table content with many text columns.
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		itemtemplate/namesubstitution.html
 */
.browseText {
		text-align:		left;
		font-size:		11px;
}

/*
 *	Defines the styles to apply to the name and actions items in a 
 *	browse header row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseListHeaderName {
		text-align:		left;
}

.browseListHeaderUser, .browseListHeaderActions {
		text-align:		left;
}

/*
 *	Defines the styles to apply to the date and functions items in a 
 *	browse  header row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseListHeaderDate {
		text-align:		center;
}

.browseListHeaderFunctions{
		text-align:		center;
		width:			1%;
}

/*
 *	Defines the styles to apply to the type item in a 
 *	browse header row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseListHeaderType {
		text-align:		center;
		width:			1%;
}

/*
 *	Defines the styles to apply to the size item in a 
 *	browse header row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseListHeaderSize {
		text-align:		right;
}

/*
 *	Used for the multi-select checkboxes column
 */
.browseListHeaderCheck {
		text-align:		center;
		width:			1%;
}

/*
 * The class applied to a Status column title.
 */
.browseListHeaderStatus {
		text-align:		center;
}

/*
 *	The class applied to a Status item in a browse list.
 *
 */
.browseItemStatus {
		text-align:		center;
}

/*
 * Defines the styles to apply to the location items in a 
 * browse  header row. 
 *
 * Use with:
 * <TD>
 *
 */
.browseListHeaderLocation {
		text-align: 		left;
}

.browseItemDivider {
	height:					24px;
	width:					2px;
}
/*
 * Defines the styles to apply to the location item in a 
 * browse row. 
 *
 * Use with:
 * <TD>
 *
 */
.browseItemLocation {
		text-align: 		left;
}

/*
 * Defines the styles to apply to a the header of columns containing text.
 *
 * Use with:
 * <TD>
 *
 */
 .browseListHeaderLeftText {
text-align: left;
}

/*
 * Defines the styles to apply to a the header of columns containing
popups.
 *
 * Use with:
 * <TD>
 *
 */
.browseListHeaderDropDown {
		text-align: 	center;
}

/*
 * Defines the styles to apply to a the header of columns containing
numbers.
 *
 * Use with:
 * <TD>
 *
 */
.browseListHeaderNumber {
		text-align: 	right;
}

/*
 * Defines the styles to apply to a columns containing text.
 *
 * Use with:
 * <TD>
 *
 */
.browseItemLeftText {
		text-align: 		left;
}

/*
 *	Defines the styles to apply to the Name item in a 
 *	browse row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseItemName, .browseItemUser, .browseItemActions {
		text-align:		left;
		font-size:		11px;
}

/*
 * Defines the styles to apply to the icon tags in Name item in a
 * browse row. This style causes images to be vertically centered
 * with respect to text in the line, minimizing impact on line-height.
 *
 * Use with:
 * 	   <SPAN>
 *
 * See:
 *		task/browsetasklist.html
 */
.browseInlineIcon {
		vertical-align:	middle;
}

/*
 *	Defines the styles to apply to the Name item in a 
 *	browse row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseItemNameLargeIcon {
		text-align:		center;
		font-size:		11px;
}

/*
 *	Defines the styles to apply to the date item in a 
 *	browse row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseItemDate {
		text-align:		center;
}

/*
 *	For Milestone Number browse only
 */
.browseItemMilestoneNumber{
		text-align:		right;
		width:			1%;
}

/*
 *	Defines the styles to apply to the functions and type items in a 
 *	browse row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseItemFunctions {
		text-align:		center;
}

.browseItemType{
		text-align:		center;
		width:			1%;
}

.browseItemCheck {
		text-align:		center;
		width:			1%;
}

/*
 *	Defines the styles to apply to the size item in a 
 *	browse row. 
 *
 *	Use with:
 *		<TD>
 *
 *	See:
 *		webnode/browseview.html
 */
.browseItemSize {
		text-align:		right;
}

.browseItemDropDown {
		text-align:		center;
}

.browseItemNumber {
		text-align:		right;
}

/* This class is used by user and group page 
 * where the search section is displayed
 */
 
.browseUserGroup {
		background-color: 		#ffffff;
		border: 				1px solid 	#cccccc;
}

/*
 *	Defines the style applied to general drop-down select boxes 
 *	
 *	Use with:
 *		<SELECT ...
 */
select {
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; 
		font-size:			11px;
}

.navSelect, .functionSelect {
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; 
		font-size:		11px;
}

.addItem {
		background-color:	#d7d7d7;
}

.addItemSelect {
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; 
		font-size:			11px;
}


.addItemMenuSelect 
{
	background-image:		url( 'additembackground.png');
	color:					#000000;
	padding-left:			4px;
	padding-right:		0px;
	padding-top:			0px;
	border:				1px solid #777777;
	white-space:			nowrap;
	text-align:			left;
}

.addItemOutline {
		background-color:	#cbcbcb;
}
		
/*
 *	Defines the style that applies to items in the catalog view.
 *	
 *	Use with:
 *		<TD>
 */
.catalog, .catalog a {	
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 			11px;
		font-weight: 		bold;
		color:				#333333;
}

/*
 *	Defines the style that applies to items in the subcatalog view.
 *	
 *	Use with:
 *		<TD>
 */
.subCatalog, .subCatalog a {
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 			11px;
		font-style: 		normal;}

/*
 *	Defines the style that applies to links with the mouse over them in the subcatalog view.
 *
 *	Use with:
 *		<TD>
 */
.subCatalog a:hover {
		color: 				#cc0000; 
}

/* **************************  TAB CLASSES  ******************************** */


/*
 *	Defines the styles to apply to the table that contains all the content between 
 *	the tab row and the footer in the info tab display.
 *	
 *	Use with:
 *		<TABLE>
 */
.infoTable {
		width:				100%;
}

/* 
 *	The style for the selected tab in the tabbed views 
 *	
 *	Use with:
 *		<TD>
 *		
 *	Includes:
 *		NOWRAP ALIGN="CENTER" VALIGN="BOTTOM"
 */
.selectedTab {
		text-align:			center;
		font-style: 		normal;
		text-decoration: 	none;
		font-size: 			11px;
		color: 				#333333;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight: 		bold;
}

/* 
 *	The style for the other, unselected tabs in the info tab view 
 *	
 *	Use with:
 *		<TD>
 */
.unselectedTab, .unselectedTab a:link, .unselectedTab a:visited {
		text-align:			center;
		font-style: 		normal;
		text-decoration: 	none;
		font-size: 			11px;
		color: 				#05447e;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight: 		bold;
}

.unselectedTab a:hover, .unselectedTab a:active, {
		text-align:			center;
		font-style: 		normal;
		text-decoration: 	underline;
		font-size: 			11px;
		color: 				#05447e;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight: 		bold;
}

/* ************************** Error Classes ********************************** */

/*
 *	This class is applied to the table that shows the error messages.
 *	
 *	Use with:
 *		<TD>
 */
.errorBox {
		background-color:	#ffffff;
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-style: 		normal;
		font-size: 			16px;
		font-weight: 		bold;
		color: 				#000000;
}


/* ************************** Login Page Classes ****************************** */

.loginLabel {
		text-align:		right;
		font-size:		11px;
		color:			#333333;
}

/* ************************** Multiselect Classes *************************** */

/*
 *	The class set on the header row for the multiple item operation listing
 *
 * 	Use with:
 *		<TR>
 */
.multiHeaderRow {
		font-size:		11px;
		color:			#000000;
		background-color:	#CC9999;
}


/*
 *	The class set on every other row of items, starting with the first in the multiple item operation listing
 *
 * 	Use with:
 *		<TR>
 */
.multiRow1 {
	background-color:		#FFCCCC;
}

/*
 *	The class set on every other row of items, starting with the second in the multiple item operation listing
 * 	Use with:
 *		<TR>
 */
.multiRow2 {
}

/* ********************************* Task Classes ************************************ */
.currentMilestone {
		background-color:	#ffff66;
		font-weight:		bold;
}

.late, .error {
		color:			#FF0000;
}

.percentBar {
		background-color:	#009900;
}

.percentBarLate {
		background-color:	#FF0000;
}

/* ************************** Categories Classes **************************** */
/*
 *	The style to use on the table that contains the attributes header for a given category.
 *	
 *	Use with:
 *		<TR>
 */
.attrHeader {
		text-align:		left;
		background-color:	#999999;
		color:			#ffffff;
}

/*
 *	The little shadow below the Categories header.
 *
 *	Use with:
 *		<TR>
 */
.attrHeaderDrop {
		background-color:	#440044;
}

/*
 *	The styles for the selected category name that is displayed in the header row.
 *
 *	Use with:
 *		<SPAN>
 */
.selectedCategory {
		font-weight:		bold;
		color:				#666666;	
}

.attrActionImage {
		padding:				2px;
}


/* *************************************** Web Attribute ******************************* */

/*
 *	The class applied to the table of attributes that is displayed when one edits or
 *	views a category node.
 *
 *	Use with:
 *		<TABLE>
 */
.attrTable {
		background-color:	#999999;
}

/*
 *	When viewing or editing a category node, this bar is displayed at the top of the table.
 *
 *	use with:
 *		<TR>
 */
.editCategoryTitleRow {
		color:				#666666;
		background-color:	#cccccc;
		font-weight:		bold;
}

/*
 *	When viewing or editing a category node, this bar is displayed at the top of the table.
 *	This class is applied to the tile section of that bar.
 *
 *	Use with:
 *		<TD>
 */
.editCategoryHeaderRow {
		color:			#ffffff;
		font-weight:		bold;
}

/*
 *	The label of an attribute when viewing a category.
 */
.attrLabel {
		color:			#ffffff;
		font-size:		smaller;
}

.containerAttributeHeader {
		width:					15%;
		white-space:			nowrap;
		color:					#434343;
		background-color: 		#cccccc;
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		text-align:				left;
		font-weight:			bold;
		font-size: 				15px;
}

.unlockedContainerAttributeHeaderRow TD {
		width:					15%;
		white-space:			nowrap;
		color:					#434343;
		background-image:		url( 'fon-table-header-blue.gif');
		background-repeat:		reapeat-x;
		border-left: 			1px solid #ffffff;
		border-top: 			1px solid #ffffff;
		border-right: 			1px solid #999999;
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight:			bold;
		font-size: 				11px;
}

/*
 *	This is the background-color of the specific attributes when they are displayed
 * 	when a user views a category.
 *
 *	You will likely want the background color to be the same as the background color 
 *	of your <BODY> tag.
 *
 */
.specificAttrTable {
		background-color:	#ffffff;
		width:				100%;
}

.specificAttrTable.attributeRow TD, 
.specificAttrTable.containerAttributeHeader, 
.specificAttrTable.unlockedContainerAttributeHeaderRow {
		padding:			5px;
}

/*
 * This style is applied to the box that allows the removal or
 * addition of rows to an attribute set.
 */
.addDeleteBox {
		text-align:			center;
}

/************************* icon picker ********************/

/*
 * This style is applied to the icon picker page for selected icon
 *
 */
.selectedIcon {
		background-color:		#FFFFCC;
		text-align:			center;
}

/*
 * This style is applied to the icon picker page for unselected icon
 *
 */
.unselectedIcon {
		text-align:			center;
}

/* ************************** Channel ************************* */

.newsText {
		font-size:			11px;
}

.headline {
		font-weight:			bold;
		font-size:			larger;
}

.byline {
		font-style:			italic;
}

.newsSummary {
		font-size:			smaller;
}

.newsSummaryDate { 
		font-style:			italic;
}

.newsSummaryName {
}

/*
 * This style is applied to the news row
 *
 */

.newsHeaderRow {
		background-color: 		#e2e2e2;
}

.channelRow TD 
{
		background-image:		url( 'fon-table-header-blue.gif' );
		background-repeat:		repeat-x;
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:				11px;
		font-weight:			bold;
}

/* *************************************** Users ************************ */

/*
 * Use for options that are not available.
 */
.notAvailable, .notAvailable a {
		color:				#999999;
}

.note {
		color:				#0000cc;
}

.ugSearchWords, .groupPaneTitles {
		font-size:			10px;
		font-weight:			bold;
}

/* ******************************** Location Display ********************** */

.locationDisplayTrail, .locationDisplayDropdown {
	background-color:	#e9e9e9;
}

.locationDisplayDropdown SELECT {
	font-size:			11px;
}

.locationDisplayTrailTerminalElement, .locationDisplayTrailNonterminalElement {
	white-space:		nowrap;
}

.locationDisplayTrailTerminalElement, .locationDisplayTrailTerminalElement a, .locationDisplayDDTerminalElement {
	font-weight:		bold;
}

.locationDisplayTrailPostDivide {
	font-size:				10px;
}

.locationDisplayTrailPostDivide a {
	font-size:				10px;
}

/* *************************************** Iconbar ************************ */

/*
 */
.iconbar, .iconbar a {
		text-align:			center;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:			11px;
		font-weight:		bold;
}

.icon a {
}

.iconselect	{
		background-color:		#ffffff;
		border:					1px solid #dedede;
}

/* *************************************** QuickLinks  AND Global Menus ************************ */

.quicklinkBar {
		border-bottom:			1px solid #ffffff;
	 	background-color:		#eeeeee;
}
 
 /*
 *
 */
.quickLinkBottom {
		border-top:			1px solid #ffffff;
 }
  /*
 *
 */
.quickLinkBarDivider {
	 	background-color:	#ffffff;
		border-right:		1px solid #eeeeee;
 }
 
 .quicklink 
 {
	 	background-color:	#eeeeee;
 }
 
.quickLink a:visited, .quickLink a:link {
		font-size:			10px;
		font-weight:		normal; 
		text-decoration: 	none;
		color:				#05447e;
}

.quickLink a:hover,.quickLink a:active {
		font-size:			10px;
		font-weight:		normal; 
		text-decoration: 	underline;
		color:				#05447e;
}

a.globalMenu:link, a.globalMenu:visited {
		font-style: 		normal;
		text-decoration:	none;
	 	font-size: 			10px;
		color: 				#05447e;
		white-space:		nowrap;
}

a.globalMenu:hover, a.globalMenu:active {
		font-style:	 		normal;
		text-decoration: 	none;
		font-size: 			10px;
		color: 				#ff0000;
}


/* *************************************** Reports for Notification ************************ */

/*
 *	Main header for the section
 */
.notificationHeader, .notificationHeader a {
		text-align:		left;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:		11px;
		font-weight:		bold;
}

/*
 *	Second header for the section
 */
.notificationSecondHeader, .notificationSecondHeader a {
		text-align:		left;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:		11px;
}

/*
 *	Background color for second header
 */
.notificationSecondHeaderBg {
		background-color:	#fff2eC;
}

/* *************************************** Wizard ************************ */

/*
 *	Active step fonts
 */

.wizardActiveStep {
	color: #000000;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:		11px;
	font-weight:		bold;
}

/*
 *	Inactive step fonts
 */
.wizardInactiveStep {
	color: 				#7a7a7a;
	font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:			11px;
	font-weight:		bold;
}

/* *************************************** DHTML Menu Support ************************ */

.menu
{
		visibility: 		hidden;
		z-index: 			1;
		position:	 		absolute;
		left:				0px;
		background-color: 	#aaaaaa;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:			11px;
		padding:			1px;
		border-top:			1px solid #ffffff;
		border-left:		1px solid #ffffff;
		text-align:			left;
}

.functionMenuDiv
{
	visibility: hidden; 
	position: absolute;
	text-align: left; 
}

#functionMenuParent
{
	visibility:		hidden;
	position: 		absolute;
	top: 			0px;
	left: 			0px; 
	bottom: 		auto;
	right: 			auto;
	text-align: 	left;
}

#bridgeFrame
{
	width: 0px; 
	height: 0px; 
	z-index: 0; 
	visibility: hidden;
}

.functionMenu
{
		z-index: 			1;
		position:	 		absolute;
		background-color: 	#aaaaaa;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:			11px;
		padding:			1px;
		border-top:			1px solid #ffffff;
		border-left:		1px solid #ffffff;
}

.menuItem
{
		font-family:			Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:				11px;
		color:					#000000;
		padding:				4px;
		padding-left:			8px;
		font-weight:			normal;
		background-color: 	#fff;
		border-right:			1px solid #ffffff;
		white-space:			nowrap;
}

.menuItemWithSubmenu
{
		background-image: 	url( submenuarrow.gif );
		background-repeat: 	no-repeat;
		background-position: 95% 50%;
		padding-right: 		12px;
}

.menuItemMore
{
		background-image: 	url( submenuarrow-down.gif );
		background-repeat: 	no-repeat;
		background-position: 95% 50%;
		padding-right: 		12px;
}

.menuItemLess
{
		background-image: 	url( submenuarrow-up.gif );
		background-repeat: 	no-repeat;
		background-position: 95% 50%;
		padding-right: 		12px;
}

.menuItemHover
{
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:			11px;
		background-color:	#b3d7e3;
		padding:			4px;
		padding-left:		8px;
		color:				#000000;
		cursor:				default;
		border-right:		1px solid #ffffff;
		white-space:		nowrap;
		font-weight:		normal;
}

.menuDivider
{
		background-color: 	#999999;
		border-top:			1px solid #eeeeee;
}

.lastItemHilite
{
	background-color: 	#eeeeee;
}

.menu a, .functionMenu a, .subMenu a
{
		text-decoration:	none;
		font-weight:		normal;
		color:				#000000;
}

.menu a:hover, .functionMenu a:hover, .subMenu a:hover, .menuItemHover a, .menu a:visited, .functionMenu a:visited, .subMenu a:visited
{
		text-decoration:	none;
		color:				#000000;
		cursor:				default;
}

.subMenu
{
		background-color: 	#eeeeff;
		z-index: 			2;
		visibility:		 	hidden;
		position: 			absolute;
		font-family:		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:			11px;
		left:				2px;
		border: 			1px solid #999999;
}

.selectMenu
{
	background-color:		#ffffff;
	color:					#000000;
	padding-left:			4px;
	padding-right:			0px;
	padding-top:			0px;
	border:				1px solid #777777;
	white-space:			nowrap;
	text-align:			left;
}

.menuSpacer
{
	width:					50px;
	height:					1em;
}

.selectTitle
{
	color:					#000000;
	text-decoration:		none;
	white-space:			nowrap;
	padding-right:		3px;
	border-right:			1px solid #999;
}

.selectTitle a, .selectTitle a:hover, .selectTitle a:visited
{
	color:					#000000;
	text-decoration:		none;
}

.selectTitle a:hover
{
	color:					#f00;
}

.selectArrow
{
	padding:				0px;
	margin:					0px;
}

/* special settings for the location drop down menu */
#LocationSelectTitle 
{
	font-weight:			bold;
	background-color:		#fff;
	border-right:			1px solid #999;
	padding-right:		6px;
}

/* special setting for the location drop down menu */
.locationMenu
{
	background-color:		#fff;
	color:					#000000;
	padding-left:			4px;
	padding-right:		0px;
	padding-top:			0px;
	border:				1px solid #999;
	white-space:			nowrap;
	text-align:			left;
}

.locationMenu .menuItem, .locationMenu .menuItemHover
{
	padding-right:		6px;
}

.newsTicker
{
	position:				relative;
	height:					15px;
	overflow: 				hidden; 
}

.newsItem
{
	position:				absolute;
	white-space:			nowrap;
	height:					11px;
	padding:				1px;
}

.newsSource
{
	position:				relative;
}

/* ============================================================= */

.itemCol1
{
	float: left;
	width: 50%;
}

.itemCol2
{
	float: right;
	width: 49%;
}

.smallItem
{
	padding: 4px 0px;
}
